# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
libs/Atlas-Lib-1.12.2-1.1.6.jar
libs/Atlas-Lib-1.12.2-1.1.7.jar
